@layer theme, base, components, utilities;

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
